*.h5
*.pth
*.tfevents.*
*.pyc
*.png
*.html
*.pdf
*.zip
*__pycache__*
*.log
*.csv
*.tsv
*.svg
*.xml
*.env
*.txt
3DGAN/data/*
API/API_samples
PAPER_WEBSITE/.next/
PAPER_WEBSITE/node_modules/
PAPER_WEBSITE/data/
PAPER_WEBSITE/3DGAN/
/.local/
/plots
*.pkl
*.next
__pycache__/
*.ipynb
.ipynb_checkpoints/
FRONTEND/node_modules/
comparison_plots/
.DS_Store
*.npz
