*.h5
*.pth
*.tfevents.*
*.pyc
*.png
*.html
*.pdf
*.pyc
*.zip
*__pycache__*
*.log
*.csv
*.json
*.xml
*.env
*.txt
3DGAN/data/*
API/API_samples
PAPER_WEBSITE/.next/
PAPER_WEBSITE/node_modules/
PAPER_WEBSITE/data/
PAPER_WEBSITE/3DGAN/
/.local/
/plots
*.pkl